html, 
body 
{ 
	height: 100%; margin: 0; padding: 0; 
}
#map 
{
    height: 100%;
}
aside{
	font-size: 30px;
	color: blue;
	font-style: italic;
	padding-bottom: 10px;
	
}
.view{
	font-size: 20px;
	color: #d10300;
	font-style: italic;
	padding-bottom: 10px;
}
.listview{
	color: #9932CC;
	margin-left: 10px;
	padding-top: 10px;
}